.footer {
    padding: 10px 20px; /* Reduce padding */
    font-size: 0.875rem; /* Make the font slightly smaller *
    text-align: center;
    position: bottom; /* Ensure footer is still at the bottom */
    width: 100%;

}

